[Unit]
Description=rosense Service
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/home/data/www/rosense/rosense 
Restart=on-failure
# Don't restart in the case of configuration error
RestartPreventExitStatus=23


[Install]
WantedBy=multi-user.target